<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header.html</title>
  <link rel="stylesheet" href="/components/header/style.css">
</head>
<body>
  <header class="header">
    <div class="wrap-logo">

      <img class="img-logo" src="/assets/img_header_logo.png">
    </div>
    <nav class="navigation">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#news">News</a>
      <a href="#contact" add-class="button-contact" html-component="/ui-kit/button" >Contact us</a>
    </nav>
  </header>
</body>
</html>