/* IMAGE & BACKGROUND */
/* .img-maxwth {
	max-width: 100%;
}
обёртка изображения {
	display: flex;
	justify-content: center;
}
флексинг обёркти {
	flex: 1;
}
.bgc {
	background-color: #1C140F;
} */
