<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>footer.html</title>
  <link rel="stylesheet" href="/components/footer/style.css">
</head>

<body>
  <footer class="footer-сontainer">
    <div class="kfau15">
      <section class="footer-сontainer_navigation">
        <nav class="footer-сontainer_navigation__list">
          <p>About us</p>
          <a>Zeux</a>
          <a>Portfolio</a>
          <a>Careers</a>
          <a>Contact us</a>
        </nav>
      </section>

      <div class="footer-сontainer__wrapper">
        <div class="__wrapper__circles">
          <span class="__wrapper__circles__circle"></span>
          <span class="__wrapper__circles__circle"></span>
          <span class="__wrapper__circles__circle"></span>
          <span class="__wrapper__circles__circle"></span>
        </div>
        <!-- <div class="__wrapper__adresss"> -->
          <div add-class="adress" html-component="/ui-kit/button">support@games.com</div>
        <!-- </div> -->
      </div>

    </div>

  </footer>
  <hr>
  <section class="contentinfo">
    <p >Copyright ® 2021 Lorem All rights Rcerved</p>
  </section>
</body>
</html>