  <!-- home-subscription  START  -->
  <section class="home-subscription">
    <div class="home-subscription-title">Lorem Ipsum</div>
    <div class="home-subscription-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
    
    <div class="subscription-section">

      <div class="subscription-container">
        <div class="subscription-content">
          <div class="subscription-title">Stay in the loop</div>
          <div class="subscription-description">
            Subscribe to receive the latest news and updates about TDA.
            We promise not to spam you!</div>
        </div>
  
        <div class="subscription-form">
          <div class="subscription-input">
            <input type="text" id="emailInput" placeholder="Enter email adress">
            <button id="subscribeButton">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- home-subscription END -->

  <link rel="stylesheet" href="/components/subscription/style.css">